<nav>
    <ul>
        <li class="nav-links"><a href="/">Home</a></li>
        <li class="nav-links"><a href="http://escream.herokuapp.com/#about">About</a></li>
        <li class="nav-links"><a href="/icecreams">Ice Creams</a></li>
        <li class="nav-links"><a href="http://escream.herokuapp.com/#location"">Location</a></li>
    </ul>
</nav>
