<nav>
    <ul>
        <li class="nav-links"><a href="/">Home</a></li>
        <li class="nav-links"><a href="#">About</a></li>
        <li class="nav-links"><a href="/icecreams">Ice Creams</a></li>
        <li class="nav-links"><a href="#">Location</a></li>
        <li class="nav-links"><a href="#">Contact</a></li>
    </ul>
</nav>
