<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/icecreams">Ice Creams</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
