<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EScream App</title>
        <!-- css stylesheet link -->
        <link rel="stylesheet" type="text/css" href="style.css">
        <!-- google fonts link -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800|Pacifico" rel="stylesheet">
        <!-- viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>

    <body>
        <header>
            <div class="full-navbar">
                <div class="half-navbar-left">
                    <nav>
                        <ul>
                            <li class="nav-links"><a href="/">Home</a></li>
                            <li class="nav-links"><a href="#about">About</a></li>
                            <li class="nav-links"><a href="/icecreams">Ice Creams</a></li>
                            <li class="nav-links"><a href="#">Location</a></li>
                            <li class="nav-links"><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="half-navbar-right">
                    <p class="login-button"><a href="/sessions/new">Log In</a></p>
                    <p class="register-button"><a href="/users/new">Register</a></p>
                </div>
            </div>
        </header>

        <main>
            <section class="escream-front">
                <div class="escream-logo">
                    <img src="../images/home/escream-white-logo.png" alt="">
                </div>
            </section>

            <section class="about">
                <h1>About EScreams</h1>
                <div class="img-container">
                    <div class="emilio-about">
                        <img src="../images/about/emilio-pic.png" width="170px" alt="">
                        <p class="name-about">Emilio</p>
                        <p class="position-title">Owner / Pastry Chef</p>
                        <p>Cheesecake, butterscotch butter cherry coffee cake butterscotch, cheesecake, maple nut shortcake peanut butter. Maple nut coffee almond caramel blueberry pecan.</p>
                        <br/>
                        <p>Marshmellow apple orange orange peanut butter cookies and cream peppermint. Banana peanut butter butter, cherry apple pecan.</p>
                    </div>

                    <div class="steph-about">
                        <img src="../images/about/stephanie-pic.png" alt="">
                        <p class="name-about">Stephanie</p>
                        <p class="position-title">Marketing / Communications</p>
                        <p>Cheesecake, butterscotch butter cherry coffee cake butterscotch, cheesecake, maple nut shortcake peanut butter. Maple nut coffee almond caramel blueberry pecan.</p>
                        <br/>
                        <p>Marshmellow apple orange orange peanut butter cookies and cream peppermint. Banana peanut butter butter, cherry apple pecan.</p>
                    </div>
                </div>
            </section>

            <section class="icecreams">
                <h1>Ice Creams</h1>

                <div class="icecreams-img-container">
                    <div class="vanilla-icecreams" >
                        <img src="../images/icecreams/vainilla.png" alt="">
                    </div>

                    <div class="chocolate-icecreams">
                        <img src="../images/icecreams/chocolate.png" alt="">
                    </div>

                    <div class="redvelvet-icecreams">
                        <img src="../images/icecreams/red-velvet.png" alt="">
                    </div>

                    <div class="pistaschio-icecreams">
                        <img src="../images/icecreams/pistaschio.png" alt="">
                    </div>
                </div>

                <p class="flavors-p"><a href="/icecreams">See all flavors</a></p>
            </section>

            <section class="location">
                <h1>Location</h1>
                <div class="square-placeholder"></div>
                <p>Currently located at Icecream Avenue.</p><br/>
                <p>For more information, please contact the Ice Cream Queen.</p><br/>
            </section>

        </main>

        <footer>© 2016 Design and Development by Stephanie Blondet</footer>

    </body>
</html>
