<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EScream App</title>
        <!-- css stylesheet link -->
        <link rel="stylesheet" type="text/css" href="style.css">
        <!-- google fonts link -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800" rel="stylesheet">
        <!-- viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">

    </head>
    <body>
        <header>
            <div class="full-navbar">
                <div class="half-navbar-left">
                    <!-- including ejs template for navbar -->
                    <%- include partials/navbar.ejs %>
                </div>

                <div class="half-navbar-right">
                    <p class="login-button"><a href="/sessions/new">Log In</a></p>
                    <p class="register-button"><a href="/users/new">Register</a></p>
                </div>
            </div>
        </header>

        <main>

            <section id="escream-front">
                <div class="berry-icecream">
                    <img src="../images/home/escream-homepage.png" width="100px" alt="">
                </div>

                <div class="escream-logo">
                    <img src="../images/home/escream-white-logo.png" width="250px" alt="">
                </div>

            </section>

            <section id="about">

            </section>

            <section id="location">

            </section>

        </main>

        <footer>
            <!-- including ejs template for footer -->
            <%- include partials/footer.ejs %>
        </footer>

    </body>
</html>
