<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EScream</title>
        <!-- add css stylesheet link -->

        <!-- add google fonts link -->

    </head>
    <body>
        <header>
            <h1>EScream Shop</h1>
            <h2><a href="/sessions/new">Log In</a></h2>
            <h2><a href="/users/new">Register</a></h2>

            <!-- including ejs template for navbar -->
            <%- include partials/navbar.ejs %>
        </header>

        <main>
            <img src="/icecreamcone.jpg" width="500px" alt="">
        </main>

        <footer>
            <!-- including ejs template for footer -->
            <%- include partials/footer.ejs %>
        </footer>

    </body>
</html>
