<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EScream App</title>
        <!-- css stylesheet link -->
        <link rel="stylesheet" type="text/css" href="style.css">
        <!-- google fonts link -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800" rel="stylesheet">
        <!-- viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">

    </head>
    <body>
        <header>
            <div class="full-navbar">
                <div class="half-navbar-left">
                    <!-- including ejs template for navbar -->
                    <%- include partials/navbar.ejs %>
                </div>

                <div class="half-navbar-right">
                    <p><a href="/sessions/new">Log In</a></p>
                    <p><a href="/users/new">Register</a></p>
                </div>
            </div>
        </header>

        <main>
            <img src="" width="500px" alt="">
        </main>

        <footer>
            <!-- including ejs template for footer -->
            <%- include partials/footer.ejs %>
        </footer>

    </body>
</html>
