<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EScream</title>
    </head>
    <body>
        <header>
            <h1>EScream Shop</h1>
            <h2><a href="/sessions/new">Log In</a></h2>
            <h2><a href="/users/new">Register</a></h2>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/icecreams">Ice Creams</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>

            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout">
            </form>
        </header>

        <main>
            <section>
                <img src="https://cdn.pixabay.com/photo/2016/08/26/12/59/ice-1622109_1280.jpg" width="500px" alt="">
            </section>
        </main>

        <footer>©2016 Design and Development by Stephanie Blondet</footer>


    </body>
</html>
