/****** BASE STYLES ******/
* {
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
}

main {
    /*height: 600px;*/
    margin-bottom: -2.7em;
}


/****** NAVBAR ******/
.full-navbar {
    background-color: black;
    text-align: center;
    font-size: 0.7em;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.full-navbar ul {
    padding: 0;
}

.full-navbar a {
    text-decoration: none;
}

.nav-links {
    padding: 0.2em;
}

.half-navbar-left a {
    color: white;
}

.half-navbar-left a:hover {
    color: #98F5D5;
}

.half-navbar-right {
    padding: 0.2em;
}

.half-navbar-right p a {
    background-color: white;
    color: black;
    margin: 2em;
    border: none;
    border-radius: 0.2em;
}

.half-navbar-right p a:hover {
    background-color: #D7769B;
    color: #98F5D5;
}

.login-button, .register-button {
    padding: 0.5em;
    margin: 0.2em;
}

.login-button a {
    padding: 0.3em 3.1em;
}

.register-button a {
    padding: 0.3em 2.21em;
}


@media (min-width: 650px) {
    .full-navbar {
        font-size: 0.7em;
        height: 2.5em;
        padding: 2em 0.8em 0.8em 2em;
    }

    .half-navbar-left {
        float: left;
    }

    nav ul li {
        display: inline-block;
    }

    .half-navbar-right {
        float: right;
    }

    .half-navbar-right p a {
        margin: 0.3em;
    }

    .login-button, .register-button {
        margin: 0.1em;
        display: inline;
    }
}


@media (min-width: 900px) {
    .full-navbar {
        font-size: 1em;
    }
}


/****** MAIN SECTION ******/

/** Escream Front **/
.escream-front {
    background-color: #98F5D5;
    height: 300px;
    /*margin: auto;*/
    padding: 0.9em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.escream-logo img {
    /*text-align: center;*/
    /*display: inline-block;*/
    width: 240px;
    /*position: absolute;*/
    z-index: 5;
}

.berry-icecream img {
    /*text-align: center;*/
    width: 100px;
    position: absolute;
    z-index: 0;
}


@media (min-width: 650px) {
    .escream-front {
        height: 420px;
    }

    .berry-icecream img {
        width: 150px;
    }

    .escream-logo img {
        width: 320px;
    }
}


@media (min-width: 900px) {
    .escream-front {
        height: 620px;
    }

    .berry-icecream img {
        width: 230px;
    }

    .escream-logo img {
        width: 450px;
    }
}


/** About **/
.about {
    background-color: #D7769B;
    height: 930px;
    color: white;
    font-size: 0.9em;
    padding: 1em;
    margin: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.05em;
    font-size: 2em;
    text-align: center;
}

.position-title {
    font-weight: 800;
    font-size: 1.15em;
}

.emilio-about, .steph-about {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

.emilio-about img, .steph-about img {
    width: 170px;
}

.name-about {
    color: #98F5D5;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
}


@media (min-width: 650px) {
    .about {
        height: 700px;
        font-size: 1em;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        letter-spacing: 0.05em;
        font-size: 3.5em;
    }

    .img-container {
        width: 700px;
        margin: 0 auto;
        text-align: center;
    }

    .emilio-about, .steph-about {
        padding: 1.2em;
        margin: 0;
        float: left;
        width: 280px;
    }

    .emilio-about img, .steph-about img {
        width: 280px;
    }

    .name-about {
        padding: 0.5em;
        font-size: 1.2em;
    }
}


@media (min-width: 900px) {
    .about {
        height: 800px;
        font-size: 1.2em;
        padding: 1.5em;
    }

    h1 {
        letter-spacing: 0.05em;
        font-size: 4em;
    }

    .img-container {
        width: 900px;
        margin: 0 auto;
        text-align: center;
    }

    .emilio-about, .steph-about {
        padding: 1.2em;
        margin: 0;
        width: 400px;
    }

    .emilio-about img, .steph-about img {
        width: 320px;
    }

    .emilio-about, .steph-about {
        padding: 1.2em;
        width: 370px;
    }

    .name-about {
        padding: 0.5em;
        font-size: 1.2em;
    }
}


/** Icecreams **/
.icecreams {
    background-color: #FFDC66;
    padding: 0.8em;
    height: 850px;
}

.icecreams-img-container {
    margin: 0 auto;
    text-align: center;
}

.vanilla-icecreams, .chocolate-icecreams, .redvelvet-icecreams, .pistaschio-icecreams {
    text-align: center;
    padding: 0.5em;
    margin: 0 auto;
}

.vanilla-icecreams img, .chocolate-icecreams img, .redvelvet-icecreams img, .pistaschio-icecreams img {
    width: 170px;
}

.flavors-p {
    text-align: center;

}

.flavors-p a {
    text-align: center;
    color: #D7769B;
    font-size: 0.8em;
    font-weight: 800;
    text-decoration: none;
    display: block;
    overflow: auto;
}

.flavors-p a:hover {
    color: #4B7BD7;
}


@media (min-width: 650px) {
    .icecreams {
        padding: 0.8em;
        height: 750px;
    }

    .icecreams-img-container {
        width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .vanilla-icecreams, .chocolate-icecreams, .redvelvet-icecreams, .pistaschio-icecreams {
        float: left;
        padding: 0.5em;
    }

    .vanilla-icecreams img, .chocolate-icecreams img, .redvelvet-icecreams img, .pistaschio-icecreams img {
        width: 280px;
        text-align: center;
        margin: 0 auto;
    }

    .flavors-p a {
        font-size: 1em;
        /*display: inline-block;*/
        /*vertical-align: middle;*/
        /*margin: 0 auto;*/
        font-size: 1em;
        overflow: auto;
    }
}


@media (min-width: 900px) {
    .icecreams {
        padding: 0.8em;
        height: 950px;
    }

    .icecreams-img-container {
        width: 800px;
    }

    .vanilla-icecreams img, .chocolate-icecreams img, .redvelvet-icecreams img, .pistaschio-icecreams img {
        width: 370px;
    }

    .flavors-p a {
        font-size: 1.5em;
        display: block;
    }
}


/** Location **/
.location {
    background-color: #4B7BD7;
    padding: 1em;
    color: white;
    height: 500px;
    text-align: center;
}

.square-placeholder {
    background-color: #314382;
    width: 250px;
    height: 250px;
    margin: 1em auto;
}

@media (min-width: 650px) {
    .location {
        height: 650px;
    }

    .square-placeholder {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 650px) {
    .location {
        height: 740px;
        font-size: 1.2em;
    }

    .square-placeholder {
        width: 700px;
        height: 450px;
        margin: 1em auto;
        text-align: left;
    }
}


/****** FOOTER ******/
footer {
    background-color: black;
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 1.5em;
    display: block;
    height: 2.7em;
}

main:after {
  content: "";
  display: block;
}

@media (min-width: 650px) {
    footer {
        font-size: 1em;
        padding: 1.2em 0 0 0;
        height: 2.5em;
    }
}



/****** ICECREAMS PAGES ******/

/** Main **/
.icecreams-index {
    background-color: #FFDC66;
}

.main-tittle {
    color: #D7769B;
    padding: 0.7em;
    line-height: 1.2em;
}

.sub-tittle {
    color: #4B7BD7;
    padding: 0.5em;
}


/** Flavors **/
.strawberry-icecreams, .salted-caramel-icecreams {
    text-align: center;
    padding: 0.5em;
}


@media (min-width: 650px) {
    .strawberry-icecreams, .salted-caramel-icecreams {
        float: left;
        padding: 0.5em;
    }

    .strawberry-icecreams img, .salted-caramel-icecreams img {
        width: 280px;
    }
}

@media (min-width: 900px) {
    .strawberry-icecreams img, .salted-caramel-icecreams img {
        width: 370px;
    }
}


/** Creations **/
.add-button {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 0.5em;
}


.add-button a {
    background-color: #98F5D5;
    color: #D7769B;
    border: none;
    border-radius: 0.3em;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

.add-button a:hover {
    background-color: #D7769B;
    color: white;
    border: none;
    border-radius: 0.3em;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

.icecream-creations a {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}
