/****** BASE STYLES ******/
* {
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
}

main {
    /*height: 600px;*/
    margin-bottom: -2.7em;
}


/****** NAVBAR ******/
.full-navbar {
    background-color: black;
    text-align: center;
    font-size: 0.7em;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.full-navbar ul {
    padding: 0;
}

.full-navbar a {
    text-decoration: none;
}

.nav-links {
    padding: 0.2em;
}

.half-navbar-left a {
    color: white;
}

.half-navbar-left a:hover {
    color: #98F5D5;
}

.half-navbar-right {
    padding: 0.2em;
}

.half-navbar-right p a {
    background-color: white;
    color: black;
    margin: 2em;
    border: none;
    border-radius: 0.2em;
}

.half-navbar-right p a:hover {
    background-color: #D7769B;
    color: #98F5D5;
}

.login-button, .register-button {
    padding: 0.5em;
    margin: 0.2em;
}

.login-button a {
    padding: 0.3em 3.1em;
}

.register-button a {
    padding: 0.3em 2.21em;
}


@media (min-width: 650px) {
    .full-navbar {
        font-size: 0.7em;
        height: 2.5em;
        padding: 2em 0.8em 0.8em 2em;
    }

    .half-navbar-left {
        float: left;
    }

    nav ul li {
        display: inline-block;
    }

    .half-navbar-right {
        float: right;
    }

    .half-navbar-right p a {
        margin: 0.3em;
    }

    .login-button, .button {
        margin: 0.1em;
        display: inline;
    }
}


@media (min-width: 900px) {
    .full-navbar {
        font-size: 1em;
    }
}


/****** MAIN SECTION ******/

/** Escream Front **/
.escream-front {
    background-color: #98F5D5;
    height: 300px;
    padding: 0.9em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/home/escream-homepage.png");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
}

.escream-logo img {
    width: 240px;
}


@media (min-width: 650px) {
    .escream-front {
        height: 420px;
        background-size: 150px;
    }

    .escream-logo img {
        width: 380px;
    }
}


@media (min-width: 900px) {
    .escream-front {
        height: 620px;
        background-size: 220px;
    }

    .escream-logo img {
        width: 490px;
    }
}


/** About **/
.about {
    background-color: #D7769B;
    height: 930px;
    color: white;
    font-size: 0.9em;
    padding: 1em;
    margin: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.05em;
    font-size: 2em;
    text-align: center;
}

.position-title {
    font-weight: 800;
    font-size: 1.15em;
}

.emilio-about, .steph-about {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

.emilio-about img, .steph-about img {
    width: 170px;
}

.name-about {
    color: #98F5D5;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
}


@media (min-width: 650px) {
    .about {
        height: 700px;
        font-size: 1em;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        letter-spacing: 0.05em;
        font-size: 3.5em;
    }

    .img-container {
        width: 700px;
        margin: 0 auto;
        text-align: center;
    }

    .emilio-about, .steph-about {
        padding: 1.2em;
        margin: 0;
        float: left;
        width: 280px;
    }

    .emilio-about img, .steph-about img {
        width: 280px;
    }

    .name-about {
        padding: 0.5em;
        font-size: 1.2em;
    }
}


@media (min-width: 900px) {
    .about {
        height: 800px;
        font-size: 1.2em;
        padding: 1.5em;
    }

    h1 {
        letter-spacing: 0.05em;
        font-size: 4em;
    }

    .img-container {
        width: 900px;
        margin: 0 auto;
        text-align: center;
    }

    .emilio-about, .steph-about {
        padding: 1.2em;
        margin: 0;
        width: 400px;
    }

    .emilio-about img, .steph-about img {
        width: 320px;
    }

    .emilio-about, .steph-about {
        padding: 1.2em;
        width: 370px;
    }

    .name-about {
        padding: 0.5em;
        font-size: 1.2em;
    }
}


/** Icecreams **/
.icecreams {
    background-color: #FFDC66;
    padding: 0.8em;
    height: 850px;
}

.icecreams-img-container {
    margin: 0 auto;
    text-align: center;
}

.vanilla-icecreams, .chocolate-icecreams, .redvelvet-icecreams, .pistaschio-icecreams {
    text-align: center;
    padding: 0.5em;
    margin: 0 auto;
}

.vanilla-icecreams img, .chocolate-icecreams img, .redvelvet-icecreams img, .pistaschio-icecreams img {
    width: 170px;
}

.flavors-p {
    text-align: center;

}

.flavors-p a {
    text-align: center;
    color: #D7769B;
    font-weight: 800;
    text-decoration: none;
}

.flavors-p a:hover {
    color: #4B7BD7;
}


@media (min-width: 650px) {
    .icecreams {
        padding: 0.8em;
        height: 750px;
    }

    .icecreams-img-container {
        width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .vanilla-icecreams, .chocolate-icecreams, .redvelvet-icecreams, .pistaschio-icecreams {
        float: left;
        padding: 0.5em;
    }

    .vanilla-icecreams img, .chocolate-icecreams img, .redvelvet-icecreams img, .pistaschio-icecreams img {
        width: 280px;
        text-align: center;
        margin: 0 auto;
    }

    .flavors-p {
        display: block;
        overflow: hidden;
    }

    .flavors-p a {
        font-size: 1em;
        /*display: inline-block;*/
        /*vertical-align: middle;*/
        /*margin: 0 auto;*/
        font-size: 1em;
        /*overflow: auto;*/
    }
}


@media (min-width: 900px) {
    .icecreams {
        padding: 0.8em;
        height: 950px;
    }

    .icecreams-img-container {
        width: 800px;
    }

    .vanilla-icecreams img, .chocolate-icecreams img, .redvelvet-icecreams img, .pistaschio-icecreams img {
        width: 370px;
    }

    .flavors-p a {
        font-size: 1.5em;
        display: block;
    }
}


/** Location **/
.location {
    background-color: #4B7BD7;
    padding: 1em;
    color: white;
    height: 500px;
    text-align: center;
}

.square-placeholder {
    background-color: #314382;
    width: 250px;
    height: 250px;
    margin: 1em auto;
}

@media (min-width: 650px) {
    .location {
        height: 650px;
    }

    .square-placeholder {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 650px) {
    .location {
        height: 740px;
        font-size: 1.2em;
    }

    .square-placeholder {
        width: 700px;
        height: 450px;
        margin: 1em auto;
        text-align: left;
    }
}


/****** FOOTER ******/
footer {
    background-color: black;
    color: white;
    font-size: 0.8em;
    text-align: center;
    word-wrap: break-word;
    padding: 1.5em;
    /*display: block;*/
    height: 2.7em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*.clearfix {
    overflow: hidden;
}*/

/*main {
    min-height: 100%;
}*/

main:after {
  content: "";
  display: block;
}

@media (min-width: 650px) {
    footer {
        font-size: 0.8em;
        /*padding: 1.2em 0 0 0;*/
        /*height: 2.3em;*/
    }
}



/****** USER PAGES ******/

/*** User New - Register ***/

.register-page {
    background-color: #D7769B;
    color: white;
}

.tittle {
    letter-spacing: 1.2px;
    padding: 0.8em;
}

.form-container {
    padding: 1em;
    width: 15em;
    margin: 0 auto;
    display: block;
    background-color: gray;
    border-radius: 0.5em;
}

.form {
    text-align: center;
    /*padding: 1em;*/
}

input {
  text-align: center;
  margin: 4%;
  padding: 1em;
  width: 18em;
  border: none;
}

.button {
    color: #4B7BD7;
    margin: 1em;
    width: 20em;
    border: none;
    border-radius: 12.5em;
    background-color: #98F5D5;
}

.button:hover {
    background-color: #4B7BD7;
    color: white;
}


@media (min-width: 650px) {
    .form-container {
        width: 30em;
    }

    input {
      width: 30em;
      /*padding: 0.5em 1em;*/
      font-size: 0.8em;
    }

    .button {
        width: 32em;
        border: none;
    }
}


/*** SHOW USER PAGE ***/
.show-user-page {
    background-color: #FFDC66;
}

#show-user-cont {
    background-color: #D7769B;
    width: 20em;
}

#show-user-h1 {
    color: #4B7BD7;
}

#show-user-h2 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

#add-ic-user-page {
    background-color: #4B7BD7;
}

#add-ic-user-page:hover {
    background-color: #726E6C;

}

.p-text {
    list-style-type: none;

}

.ul-show-user {
    padding: 0;
    text-align: center;
}

.p-text a {
    text-decoration: none;
    color: white;
    /*font-size: 0.8em;*/
}

.p-text a:hover {
    color: lightgrey;
}

@media (min-width: 650px) {
    #show-user-cont {
        width: 35em;
    }

    #show-user-h2 {
        font-size: 2em;
    }

    #delete-ic {
        width: 35em;
    }
}





/****** SESSIONS PAGES ******/

/*** User New - Login ***/
.login-page {
    background-color: #98F5D5;
    color: white;
}

#login {
    background-color: #D7769B;
    color: white;
}

#login-button {
    background-color: #FFDC66;
}

#login-button:hover {
    background-color: #4B7BD7;
}





/****** ICE CREAMS PAGES ******/

/*** INDEX PAGE ***/

/** Main **/
.icecreams-index {
    background-color: #FFDC66;
}

.main-tittle {
    color: #D7769B;
    padding: 0.7em;
    line-height: 1.2em;
}

.sub-tittle {
    color: #4B7BD7;
    padding: 0.5em;
    /*margin: 0 auto;*/
}



/** Flavors **/
.strawberry-icecreams, .salted-caramel-icecreams {
    text-align: center;
    padding: 0.5em;
}


@media (min-width: 650px) {
    .icecreams-img-container {
        width: 600px;
    }

    .strawberry-icecreams, .salted-caramel-icecreams {
        text-align: center;
        float: left;
        padding: 0.5em;
    }

    .strawberry-icecreams img, .salted-caramel-icecreams img {
        width: 280px;
    }
}

@media (min-width: 900px) {
    .icecreams {
        height: 780px;
    }

    .icecreams-img-container {
        width: 650px;
    }

    .vanilla-icecreams img, .chocolate-icecreams img, .redvelvet-icecreams img, .pistaschio-icecreams img, .strawberry-icecreams img, .salted-caramel-icecreams img {
        width: 290px;
    }
}


/** Creations **/
.add-button {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 0.5em;
}


.add-button a {
    background-color: #D7769B;
    color: white;
    border: none;
    border-radius: 0.3em;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

.add-button a:hover {
    background-color: #4B7BD7;
    color: #D7769B;
    border: none;
    border-radius: 0.3em;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

.icecream-creations {
    margin: 1em;
    padding: 2em 0;
    font-size: 1.3em;
}

.icecream-creations li a {
    text-decoration: none;
    color: #4B7BD7;
    margin: 1em;
}

.icecream-creations li a:hover {
    text-decoration: none;
    color: #D7769B;
}

.icecream-creations li  {
    list-style-type: none;
    text-align: center;
}

@media (min-width: 650px) {
    .add-button a, .add-button a:hover {
        padding: 1em 2em;
        font-size: 1.2em;
    }

    .icecream-creations {
        margin: 1.2em;
        padding: 1.2em;
        font-size: 1.5em;
    }
}

@media (min-width: 900px) {
    .add-button a, .add-button a:hover {
        padding: 1.2em 2.2em;
        font-size: 1.2em;
    }

    .icecream-creations {
        margin: 1.2em;
        padding: 1em;
        font-size: 1.7em;
    }
}


/*** ADD NEW IC PAGE ***/

.add-icecream-page {
    background-color: #4B7BD7;
    color: white;
}

h3 {
    font-size: 1em;
    padding: 1.2em;
}

#add-ic {
    background-color: #FFDC66;
    color: #726E6C;
    text-align: center;
}

#add-ic-button {
    background-color: #726E6C;
    color: white;
    margin: 2em 0 0 0;
}

#add-ic-button:hover {
    background-color: #D7769B;
    color: white;

}

select {
    width: 20em;
    height: 3em;
}

@media (min-width: 650px) {
    select {
        width: 38em;
        height: 3.5em;
    }

    #add-ic-button {
        /*margin: 3em;*/
    }
}

@media (min-width: 900px) {
    h3 {
        font-size: 1.2em;
        padding: 1.2em;
    }
}


/*** SHOW IC PAGE ***/

.show-ic-page {
    background-color: #98F5D5;
}

#show-ic-h1 {
    color: #D7769B;
}

#show-ic-cont {
    background-color: #D7769B;
    width: 20em;
}

.h2-show-ic {
    color: black;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
}

.page-link, .page-link {
    font-size: 0.8em;
    background-color: #FFAAB8;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1.5em;
    margin: 1em auto;
    text-align: center;
}

.page-link:hover, .page-link:hover {
    background-color: #99898E;

}

.page-link a, .page-link a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.p-show {
    color: white;
    padding: 1em;
}

.p-show a {
    color: black;
}

.p-show a:hover {
    color: grey;
}

.p-text {
    padding: 0.4em;
    font-size: 1.2em;
}

#delete-ic {
    width: 20em;
    margin: 1em auto;
    color: white;
    background-color: #4B7BD7;
    font-size: 1em;
}

#delete-ic:hover {
    background-color: #99898E;
}


@media (min-width: 650px) {
    #show-ic-cont {
        width: 35em;
    }

    .h2-show-ic {
        font-size: 2em;
    }

    #delete-ic {
        width: 35em;
    }
}
