<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ice Cream Creation</title>
        <!-- css stylesheet link -->
        <link rel="stylesheet" type="text/css" href="/style.css">
        <!-- google fonts link -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800|Pacifico" rel="stylesheet">
        <!-- viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body class="add-icecream-page">
        <header>
            <div class="full-navbar">
                <div class="half-navbar-left">
                    <%- include ../partials/navbar.ejs %>
                </div>
            </div>
        </header>

        <main>
            <h1 class="tittle">Create Your Own Ice Cream</h1>

            <div class="form-container" id="add-ic">
                <form action="/icecreams/" method="POST">

                    <h3>Find your username</h3>

                    <select class="dropdown" name="userId">
                        <% for(var i=0; i <usersAll.length; i++){ %>
                            <option value="<%=usersAll[i]._id%>"><%=usersAll[i].username%></option>
                        <% } %>
                    </select>

                    <h3>Name of Creation</h3>
                        <input type="text" name="nameOfCreation" value="Name of Creation"/><br/>

                    <h3>Choose your flavor</h3>
                        <select name="flavor">
                            <option value="none"></option>
                            <option value="Vanilla">Vanilla</option>
                            <option value="Chocolate">Chocolate</option>
                            <option value="Red Velvet">Red Velvet</option>
                            <option value="Pistaschio">Pistaschio</option>
                            <option value="Salted Caramel">Salted Caramel</option>
                            <option value="Strawberry">Strawberry</option>

                        </select>

                    <h3>Choose your toppings</h3>
                        <select name="toppings">
                            <option value="none"></option>
                            <option value="Cookie Dough">Cookie Dough</option>
                            <option value="Oreo Cookies">Oreo Cookies</option>
                            <option value="Chocolate Chips">Chocolate Chips</option>
                            <option value="Sprinkles">Sprinkles</option>
                            <option value="Gummy Bears">Gummy Bears</option>
                            <option value="Brownie">Brownie</option>
                        </select>

                    <h3>Choose your sauces</h3>
                        <select name="sauces">
                            <option value="none"></option>
                            <option value="Hot Fudge">Hot Fudge</option>
                            <option value="Caramel Sauce">Caramel Sauce</option>
                            <option value="Strawberry Sauce">Strawberry Sauce</option>
                            <option value="Whipped Cream">Whipped Cream</option>
                        </select><br/>

                    <input class="button" id="add-ic-button" type="submit" value="Create Ice Cream"/>
                </form>
            </div>
        </main>
    </body>
</html>
