<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ice Cream</title>
    </head>
    <body>
        <header>
            <h1>Ice Cream</h1>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Ice Creams</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h1>Show Page for <%=icecream.nameOfCreation%></h1>
                <p><a href="/icecreams/<%=icecream._id%>/edit">Edit Ice Cream</a></p>
            </section>

            <section>
                <form action="/icecreams/<%=icecream._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Ice Cream">
                </form>
            </section>

        </main>

    </body>
</html>
