<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <!-- add css stylesheet link -->

        <!-- add google fonts link -->
    </head>
    <body>
        <header>

            <h2><a href="/sessions/new">Log In</a></h2>
            <h2><a href="/users/new">Register</a></h2>

            <!-- including ejs template for navbar -->
            <%- include ../partials/navbar.ejs %>
        </header>

        <main>
            <section>
                <h1>Log In</h1>
                <form action="/sessions" method="POST">
                    <input type="text" name="username" placeholder="username"/><br/>
                    <input type="password" name="password"/><br/>
                    <input type="submit" value="Log In"/>
                </form>
            </section>
        </main>

        <footer>
            <!-- including ejs template for footer -->
            <%- include partials/footer.ejs %>
        </footer>


    </body>
</html>
