<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Users</title>
        <!-- css stylesheet link -->
        <link rel="stylesheet" type="text/css" href="/style.css">
        <!-- google fonts link -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800|Pacifico" rel="stylesheet">
        <!-- viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <header>
            <div class="full-navbar">
                <div class="half-navbar-left">
                    <%- include ../partials/navbar.ejs %>
                </div>
            </div>
        </header>

        <main>
            <h1>Welcome!</h1>

            <% if (!currentUser) { %>
                <p class="login-button">Click to <a href="/sessions/new">Log In</a> or to
                <a class="register-button" href="/users/new">Register</a></p>
            <% } %>

        </main>


        <!-- including ejs template for footer -->
        <%- include ../partials/footer.ejs %>


    </body>
</html>
